<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Milestone</title>
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<%- include('../partials/_navbar') %>
<main>
<h1>New Milestone</h1>
<section>
<div id="flightCard">
<form action="/users/<%= userId %>/milestones" method="POST" class="flight-form">
  <label>Type:</label>
  <input type="text" name="type" required>

  <label>Description:</label>
  <textarea name="description"></textarea>

  <label>Date:</label>
  <input type="date" name="date">

  <label>Status:</label>
  <select name="status">
    <option value="Pending">Pending</option>
    <option value="Complete">Complete</option>
  </select>
<div class="cta-container">
  <button type="submit"><strong>Create Milestone</strong></button>
  </div>
</form>
</div>

<div class="cta-container">
  <a href="/users/<%= user._id %>/milestones" class="btn cta-btn">Back to Milestones</a>
</div><br>

</section>
</main>
</body>
</html>