<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Flight Session</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('../partials/_navbar') %>
<main class="">
<h1>New Flight Session</h1>
<section>
<div id="flightCard">
<form action="/users/<%= userId %>/sessions" method="POST">
  <label>Date:</label>
  <input type="date" name="date" required><br>

  <label>Duration (hours):</label>
  <input type="number" name="duration" required><br>

  <label>Focus Area:</label>
  <input type="text" name="focusArea" required><br>

  <label>Notes:</label>
  <textarea name="notes"></textarea><br>

  <button type="submit">Create Session</button>
</form>
</div>
<br><br>
<a href="/users/<%= userId %>/sessions">Back to Flight Sessions</a>
</section>
</main>
</body>
</html>